@font-face {
  font-family: 'Bahij';
  src: url('../../assets/fonts/Bahij/Janna-Bold.ttf');
}

@font-face {
  font-family: 'Bahij';
  src: url('../../assets/fonts/Bahij/Janna-Regular.ttf');
}


@font-face {
  font-family: 'tajwal';
  src: url('../../assets/fonts/tajawal/Tajawal-Regular.ttf');
}