:root {
  --steel: #6e8297;
}

$primary-color: #17426c;
$primary-color-50: #215b9550;
$secondary-blue: #07a8c6;
$secondary-light-gray: #d2d3d4;
$secondary-medium-gray: #949599;
$secondary-dark-gray: #434143;
$light-black: #455560;

/* ------------ light colors ------------ */
$light-color-1: #ebecf2;
$light-color-2: #e7ebf0;
$light-color-3: #cccccc;

/* ------------ light colors ------------ */
$dark-color-1: #4c565c;
$dark-color-2: #454c52;
$dark-color-3: #696c80;

/* ------------ shadow colors ------------ */
$shadow-color-1: #091e420a;

/* ------------ solid colors ------------ */
$white: #ffffff;
$black: #000000;
$red: #ff0000;
