<div class="warda-blogs-container">
    <div class="content">
        <div class="title">
            <p>{{ 'BLOGS.TITLE' | translate }}</p>
        </div>
        <div class="main-cat">
            <ng-container *ngFor="let data of manCategory">
                <div class="small-card" [ngClass]="{'active': data.active}" (click)="getCateg(data.id)">
                    {{ data.name | translate }}
                </div>
            </ng-container>
        </div>
        <div class="blog-details">
            <div class="content">
                <div class="image-container">
                    <div class="image-section" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
                </div>
                <div class="blog-desc">
                    <div class="blog-title">
                        <p>{{ 'BLOGS.COLOR_SYMBOLS' | translate }}</p>
                    </div>
                    <div class="blog-descs">
                        <p>{{ 'BLOGS.COLOR_MEANING' | translate }}</p>
                    </div>
                    <div class="link">
                        <a href="">{{ 'BLOGS.READ_MORE' | translate }} <i class="pi pi-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
