<div class="client-orders-container">
    <div class="content container mt-4">
        <div class="title">
            <p>طلباتي</p>
        </div>
        <div class="details-section mt-4">
            <div class="groubing-card">
                <div class="main-card mt-2">
                    <div class="card-content">
                        <div class="img-section">
                            <img src="" alt="order-image">
                        </div>
                        <div class="details">
                            <div class="order-category">
                                <p>Special Package</p>
                            </div>
                            <div class="order-name-price">
                                <p class="name">Wedding Package</p>
                                <p class="price"></p>
                                <p class="old-price"></p>
                            </div>
                            <div class="order-details">
                                <p>test test test test test test test test test test test test test test test test test test test test test test test test </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>