div.status {
  border: 1px solid #e6e6e6;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
  display: flex;
  justify-content: space-between;
  span.btn {
    .name {
      margin: 0px 5px;
      color: #B0B0B0;
    }
    .count {
      background-color: #B0B0B0;
      color: #fff;
      padding: 1px 5px;
      border-radius: 50%;
    }
  }
}

.active-status {
  background-color: #7661a8;
  font-weight: bolder;
  .name{
    color:#fff!important
  }
  .count {
    background: linear-gradient(to right, #c0b5d9, #c0b5d9);
    border: 1px solid #514767
  }
}
::ng-deep {
    .client-orders-container {
        .content {

            .title {
                p {
                    font-size: 20px;
                }
            }
            .details-section {
                background-color: white;
                border-radius: 24px;
                padding: 16px;
                min-height: 500px;

                .groubing-card {
                    padding: 10px;
                    border-bottom: 1px solid rgb(233, 233, 233);

                    .main-card { 
                        .card-content {
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            .details {
                                display: flex;
                                gap: 3px;
                                flex-direction: column;

                                .order-category {
                                    p {

                                    }
                                }

                                .order-name-price {
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}