<div class="warda-details-container">
    <div class="content container">
        <div class="row">
            <div class="col-lg-4 text-details-section">
                <div class="desc-one mt-2">
                    <p>{{ 'WARDA_DETAILS.TITLE' | translate }}</p>
                </div>
                <div class="desc-two mt-3">
                    <p>{{ 'WARDA_DETAILS.SUBTITLE' | translate }}</p>
                </div>
                <div class="desc-three mt-3">
                    <p>{{ 'WARDA_DETAILS.DESCRIPTION' | translate }}</p>
                </div>
                <div class="shop-now-btn">
                    <button class="main-btn-one">{{ 'WARDA_DETAILS.SHOP_NOW' | translate }}</button>
                </div>
                <div class="more-details-section">
                    <div class="users-images-section flex">
                        <img src="assets/images/icons-svg/users.svg" alt="users-images">
                        <p class="users-desc">{{ 'WARDA_DETAILS.ALL_FLOWERS' | translate }}</p>
                    </div>
                    <div class="rate-section">
                        <img src="assets/images/icons-svg/rate.svg" alt="users-images">
                        <p class="rate-desc">{{ 'WARDA_DETAILS.RATING' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-7 image-details-section">
                <img src="assets/images/background/wrada-main-detail.png" alt="" width="100%">
                <div class="desc-one">
                    <p class="desc-one-name">{{ 'WARDA_DETAILS.DISCOUNT_TITLE' | translate }}</p>
                    <p class="desc-one-value">{{ 'WARDA_DETAILS.DISCOUNT_VALUE' | translate }}</p>
                </div>
                <div class="desc-two">
                    <p>{{ 'WARDA_DETAILS.STORES' | translate }}</p>
                    <div class="parent">
                        <img class="store-image" src="assets/images/background/store.png" alt="">
                        <button class="display-btn">{{ 'WARDA_DETAILS.VIEW' | translate }}</button>
                    </div>
                </div>
                <div class="desc-three">
                    <p>{{ 'WARDA_DETAILS.USERS_COUNT' | translate }}</p>
                    <div class="parent">
                        <img class="users-image" src="assets/images/background/users.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 statistics-details-section">
                <div class="row">
                    <ng-container *ngFor="let item of detailsList">
                        <div class="col-lg-3 cards">
                            <div class="content">
                                <img src={{item.image}} alt="">
                                <div class="title">
                                    <p>{{ item.title | translate }}</p>
                                </div>
                                <div class="desc">
                                    <p>{{ item.desc | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
