::ng-deep {
  .banner-container {
    width: 100%;
    height: 205px; // Adjust as needed
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    color: white;

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 30px;
      height: 100%;

      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}