<div class="warda-second-details-container container-fluid">
    <div class="content">
        <div class="section-one row">
            <div class="col-lg-6 title-flower-section">
                <div class="title">
                    <p>{{ 'WARD_DETAILS.TITLE' | translate }}</p>
                </div>
                <div class="flower">
                    <img src="assets/images/flowers/flower1.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 desc-section">
                <div class="desc">
                    <p>{{ 'WARD_DETAILS.DESCRIPTION' | translate }}</p>
                </div>
                <div class="actions">
                    <button class="main-btn-one">{{ 'WARD_DETAILS.KNOW_MORE' | translate }}</button>
                    <a href="">{{ 'WARD_DETAILS.VIEW_PRODUCTS' | translate }} <i class="pi pi-arrow-circle-left"></i></a>
                </div>
            </div>
        </div>
        <div class="section-two row">
            <div class="col-lg-6 first-card-section">
                <div class="card-one">
                    <div class="card-one-content">
                        <div class="sections-one">
                            <div class="title">
                                <p>{{ 'WARD_DETAILS.CUSTOM_BOUQUET.TITLE' | translate }}</p>
                            </div>
                            <div class="desc">
                                <p>{{ 'WARD_DETAILS.CUSTOM_BOUQUET.DESCRIPTION' | translate }}</p>
                            </div>
                        </div>
                        <div class="sections-two">
                            <div class="action">
                                <a href="">{{ 'WARD_DETAILS.ORDER_NOW' | translate }} <i class="pi pi-arrow-circle-left"></i></a>
                            </div>
                            <div class="image-section">
                                <img src="assets/images/flowers/flower2.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 second-card-section">
                <div class="card-two">
                    <div class="card-two-content">
                        <div class="card-two-content-details-section">
                            <div class="title">
                                <p>{{ 'WARD_DETAILS.FRESH_FLOWERS.TITLE' | translate }}</p>
                            </div>
                            <div class="desc">
                                <p>{{ 'WARD_DETAILS.FRESH_FLOWERS.DESCRIPTION' | translate }}</p>
                            </div>
                            <div class="action">
                                <a href="">{{ 'WARD_DETAILS.ORDER_NOW' | translate }} <i class="pi pi-arrow-circle-left"></i></a>
                            </div>
                        </div>
                        <div class="card-two-content-image-section">
                            <img src="assets/images/flowers/flower3.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="card-three">
                    <div class="card-three-content">
                        <div class="card-three-content-details-section">
                            <div class="title">
                                <p>{{ 'WARD_DETAILS.DIVERSE_STORES.TITLE' | translate }}</p>
                            </div>
                            <div class="desc">
                                <p>{{ 'WARD_DETAILS.DIVERSE_STORES.DESCRIPTION' | translate }}</p>
                            </div>
                            <div class="action">
                                <a href="">{{ 'WARD_DETAILS.ORDER_NOW' | translate }} <i class="pi pi-arrow-circle-left"></i></a>
                            </div>
                        </div>
                        <div class="card-three-content-image-section">
                            <img src="assets/images/flowers/flower4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
