<div class="signup-container">
    <div class="content">
        <div class="form-section">
            <form [formGroup]="signup" (ngSubmit)="onSubmit()">
                <div class="details d-flex justify-content-between">
                    <div class="d-flex flex-col">
                        <h2>{{ 'signup.welcome' | translate }}</h2>
                        <p>{{ 'signup.sign_to_dashboard' | translate }}</p>
                    </div>
                    <div class="user-section">
                        <button type="button" class="lang-btn" (click)="toggleLanguage()">
                            {{ selectedLang.toUpperCase() == 'AR' ? 'EN' : 'AR' }}
                        </button>
                    </div>
                </div>

                <!-- Email -->
                <div class="d-flex flex-col gap-2 mt-2">
                    <p-floatlabel>
                        <input pInputText id="email" formControlName="email" />
                        <label for="email">{{ 'signup.email' | translate }}</label>
                    </p-floatlabel>
                    <small *ngIf="signup.get('email')?.invalid && signup.get('email')?.touched">
                        {{ 'signup.email_invalid' | translate }}
                    </small>
                </div>

                <!-- Mobile Number -->
                <div class="d-flex flex-col gap-2 mt-2">
                    <p-floatlabel>
                        <p-inputnumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" id="phone"
                            formControlName="phone" />
                        <label for="phone">{{ 'signup.mobile_number' | translate }}</label>
                    </p-floatlabel>
                    <small *ngIf="signup.get('phone')?.invalid && signup.get('phone')?.touched">
                        {{ 'signup.mobile_invalid' | translate }}
                    </small>
                </div>

                <!-- name -->
                <div class="d-flex flex-col gap-2 mt-2">
                    <p-floatlabel>
                        <input pInputText id="name" formControlName="name" />
                        <label for="name">{{ 'signup.user_name' | translate }}</label>
                    </p-floatlabel>
                    <small *ngIf="signup.get('name')?.invalid && signup.get('name')?.touched">
                        {{ 'signup.user_name_required' | translate }}
                    </small>
                </div>

                <!-- Password -->
                <div class="d-flex flex-col gap-2 mt-2">
                    <p-floatlabel>
                        <p-password formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
                        <label for="password">{{ 'signup.password' | translate }}</label>
                    </p-floatlabel>
                    <small *ngIf="signup.get('password')?.invalid && signup.get('password')?.touched">
                        {{ 'signup.password_invalid' | translate }}
                    </small>
                </div>

                <!-- Confirm Password -->
                <div class="d-flex flex-col gap-2">
                    <p-floatlabel variant="on">
                        <p-password formControlName="confirmPassword" [toggleMask]="true"
                            [feedback]="false"></p-password>
                        <label for="confirmPassword">{{'signup.confirm_password' | translate}}</label>
                    </p-floatlabel>
                    <small
                        *ngIf="signup.get('confirmPassword')?.hasError('required') && signup.get('confirmPassword')?.touched">
                        {{'signup.confirm_password_required' | translate}}
                    </small>
                    <small *ngIf="passwordsDoNotMatch">
                        {{'signup.passwords_do_not_match' | translate}}
                    </small>
                </div>


                <div class="actions">
                    <button type="submit" class="main-btn-one">
                        {{ 'signup.signup_button' | translate }}
                        <!-- <span class="pi pi-arrow-right"></span> -->
                    </button>
                    <div class="routing">
                        <a routerLink='/auth/login'>{{'login.btn_login'|translate}}</a>
                        <a routerLink='/auth/forget_password'>{{'login.forget_password'|translate}}</a>
                      </div>
                </div>
            </form>
        </div>
        <div class="details-section hide-part">
            <img width="486" height="528" src="assets/images/flowers/login-flower.svg" alt="">
        </div>
    </div>
</div>
<app-otp-modal *ngIf="openOtpModal" [mobileNumber]="mobileNumber" (resendOtp)="resendOtp($event)"
    (otpValue)="getOtpValue($event)"></app-otp-modal>