<div class="login-container">
  <div class="content">
    <div class="form-section">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="details d-flex justify-content-between">


          <div class="d-flex flex-col">
            <h2>{{'login.welcome'|translate}}</h2>
            <p>{{'login.sign_to_dashboard'|translate}}</p>
          </div>

          <div class="user-section">
            <button type="button" class="lang-btn" (click)="toggleLanguage()">
              {{ selectedLang.toUpperCase() == 'AR' ? 'EN' : 'AR' }}
            </button>
          </div>


        </div>
        <div class="d-flex flex-col gap-2">
          <p-floatlabel variant="on">
            <input pInputText id="mobile" formControlName="mobile" />
            <label for="email">{{'login.mobile'|translate}}</label>
          </p-floatlabel>
          <small *ngIf="loginForm.get('mobile')?.hasError('required') && loginForm.get('mobile')?.touched">
            {{'login.mobile_required'|translate}}
          </small>
        </div>
        <div class="d-flex flex-col gap-2 ">
          <p-floatlabel variant="on">
            <p-password formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
            <label for="password"> {{'login.password'|translate}} </label>
          </p-floatlabel>
          <small *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
            {{'login.password_required'|translate}}
          </small>
        </div>
        <div class="actions">
          <button type="submit" class="main-btn-one"> {{'login.btn_login'|translate}}
            <!-- <span class="pi pi-arrow-right"></span> -->
          </button>
          <div class="routing">
            <a routerLink='/auth/signup'>{{'login.signup'|translate}}</a>
            <a routerLink='/auth/forget_password'>{{'login.forget_password'|translate}}</a>
          </div>
        </div>
      </form>
    </div>
    <div class="details-section hide-part">
      <img width="486" height="528" src="assets/images/flowers/login-flower.svg" alt="">
    </div>
  </div>
</div>