::ng-deep {
    .trader-details-container {
        .content {
            .main-section {
                .subcategory-section {
                    margin-block: 30px;



                    .subcategory-slider-container {

                        .title {
                            margin-bottom: 20px;

                            p {
                                font-size: 20px;
                                color: #8174A0;
                                font-weight: bold;
                            }
                        }

                        padding: 25px;
                        background: white;
                        border-radius: 20px;
                    }

                    .category-Section {
                        height: auto;
                        border-radius: 17px;
                        background-color: white;

                        .title p {
                            font-size: 18px;
                            font-weight: bold;
                        }

                        .content {
                            margin-top: 10px;
                            display: flex;
                            gap: 5px;
                            flex-wrap: wrap;

                            .item {
                                border: 1px solid #CBC6D8;
                                border-radius: 28px;
                                color: #6B6B6B;
                                padding: 6px 31px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                p {
                                    position: relative;
                                    top: 3px;
                                }
                            }

                            .selec-catrgory {
                                background-color: #8174A0 !important;
                                color: white !important;
                            }
                        }
                    }
                }

                .products {
                    margin-top: 4rem;


                    .title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            font-size: 40px;
                            color: black;
                            font-weight: bold;
                        }

                        .action {
                            a {
                                text-decoration: none;
                                color: #8174A0;
                                font-size: 18px;
                                font-weight: 600;
                                transition: color 0.3s ease-in-out;

                                &:hover {
                                    color: #5A5170;
                                }

                                i {
                                    transform: rotate(45deg);
                                    font-size: 19px;
                                    transition: transform 0.3s ease-in-out;

                                    &:lang(en) {
                                        transform: rotate(150deg) !important;
                                    }
                                }
                            }
                        }
                    }

                    .empty-state {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 15rem;

                        p {
                            font-size: 20px;
                            color: #8174A0;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}