<div class="warda-best-moment-container">
    <div class="content">
        <div class="button">
            <button class="main-btn-three" routerLink="/all_products/all">{{ 'BEST_MOMENTS.INITIATE_NOW' | translate }}</button>
        </div>
        <div class="title">
            <p>{{ 'BEST_MOMENTS.TITLE' | translate }}</p>
        </div>
        <div class="desc">
            <div class="content">
                <p>{{ 'BEST_MOMENTS.DESCRIPTION' | translate }}</p>
            </div>
        </div>
        <div class="actions">
            <button class="main-btn-one" routerLink="/all_products/all">{{ 'BEST_MOMENTS.ORDER_NOW' | translate }}</button>
            <a routerLink="/all_products/all">{{ 'BEST_MOMENTS.EXPLORE_COLLECTION' | translate }} <i class="pi pi-arrow-circle-left"></i></a>
        </div>
    </div>
</div>
