<div class="home-container">
    <div class="warda-details-section">
        <app-warda-details></app-warda-details>
    </div>
    <div class="sales-section">
        <app-sales-section></app-sales-section>
    </div>
    <div class="trader-section">
        <app-traders-section></app-traders-section>
    </div>
    <div class="warda-second-deatils-section">
        <app-warda-second-details></app-warda-second-details>
    </div>
    <div class="warda-best-moment-section">
        <app-warda-best-moment></app-warda-best-moment>
    </div>
    <div class="latest-products-section">
        <app-latest-products></app-latest-products>
    </div>
    <div class="warda-blogs-section">
        <app-warda-blogs></app-warda-blogs>
    </div>
    <div class="faqs-section">
        <app-faqs-section></app-faqs-section>
    </div>
</div>
