<div class="warda-details-container">
    <div class="content container">
        <div class="row">
            <div class="col-lg-4 text-details-section">
                <div class="desc-one mt-2">
                    <p>وردة لمسة جمال في كل مناسبة</p>
                </div>
                <div class="desc-two mt-3">
                    <p>اكتشف عالمًا من الأناقة والجمال مع وردة</p>
                </div>
                <div class="desc-three mt-3">
                    <p>يمكنك تصميم باقتك الخاصة من أجمل وأجود الزهور الطازجة. اختر كل وردة بعناية، أو اختر من تشكيلتنا
                        المميزة الجاهزة لتقديمها كهدية مثالية لكل مناسبة.</p>
                </div>
                <div class="shop-now-btn">
                    <button class="main-btn-one">تسوق الان </button>
                </div>
                <div class="more-details-section">
                    <div class="users-images-section flex">
                        <img src="assets/images/icons-svg/users.svg" alt="users-images">
                        <p class="users-desc">جميع أنواع الورود لكل مناسباتك</p>
                    </div>
                    <div class="rate-section">
                        <img src="assets/images/icons-svg/rate.svg" alt="users-images">
                        <p class="rate-desc">متجر بتقييم 5 نجوم!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-7 image-details-section">
                <img src="assets/images/background/wrada-main-detail.png" alt="" width="100%">
                <div class="desc-one">
                    <p class="desc-one-name">خصومات تصل حتي </p>
                    <p class="desc-one-value">50%</p>
                </div>
                <div class="desc-two">
                    <p>عدد كبير من المتاجر المتنوعة </p>
                    <div class="parent">
                        <img class="store-image" src="assets/images/background/store.png" alt="">
                        <button class="display-btn">عرض</button>
                    </div>
                </div>
                <div class="desc-three">
                    <p>اكثر من 500 مستخدم </p>
                    <div class="parent">
                        <img class="users-image" src="assets/images/background/users.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 statistics-details-section">
                <div class="row">
                    <ng-container *ngFor="let item of detailsList">
                        <div class="col-lg-3 cards">
                            <div class="content">
                                <img src={{item.image}} alt="">
                                <div class="title">
                                    <p>{{item.title}}</p>
                                </div>
                                <div class="desc">
                                    <p>{{item.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>