.timer-container {
    .content {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: Arial, sans-serif;
        font-size: 13px;
    }

    .timer-box {
        background-color: #8174A0;
        color: white;
        padding: 0px 5px;
        border-radius: 6px;
        min-width: 23px;
        text-align: center;
        font-weight: bold;
    }
}