<div class="forget-password-container">
  <div class="content">

    <div class="details-section hide-part">
      <img width="250" src="assets/images/smallLogo.svg" alt="">
    </div>

    <div class="form-section">
      <ng-container *ngIf="!hideCheckForm">
        <form [formGroup]="checkMobile" (ngSubmit)="onSubmit()" class="check-email-form">
          <div class="details d-flex flex-col">
            <h2>Forget Password</h2>
          </div>
          <div class="d-flex flex-col gap-2">
            <label for="mobileNumber"> Mobile Number</label>
            <input pInputText id="mobileNumber" formControlName="mobileNumber" />
            <small *ngIf="checkMobile.get('mobileNumber')?.hasError('required') && checkMobile.get('mobileNumber')?.touched">
              Mobile number is required
            </small>
          </div>
          <div class="actions">
            <button type="submit" class="send-btn">Send
              <span class="pi pi-arrow-right"></span>
            </button>
            <a routerLink='/auth/login'>Login</a>
          </div>
        </form>
      </ng-container>


      <ng-container *ngIf="hideCheckForm">
        <form [formGroup]="changePassword" (ngSubmit)="onOtpSubmit()" class="check-email-form">
          <div class="details d-flex flex-col">
            <h2>Add New Password</h2>
          </div>

        <div class="d-flex flex-col gap-2">
          <label for="password">Enter new password</label>
          <input pInputText id="password" formControlName="password" />
          <small *ngIf="changePassword.get('password')?.hasError('required') && changePassword.get('password')?.touched">
            New password is required
          </small>
        </div>
        <div class="d-flex flex-col gap-2">
          <label for="confirmPassword">Confirm password</label>
          <input pInputText id="confirmPassword" formControlName="confirmPassword" />
          <small *ngIf="changePassword.get('confirmPassword')?.hasError('required') && changePassword.get('confirmPassword')?.touched">
            Confirm password is required
          </small>
          <small *ngIf="changePassword.hasError('passwordsDoNotMatch') && changePassword.get('confirmPassword')?.touched">
            Passwords do not match
          </small>
        </div>
        <div class="actions">
          <button type="submit" class="send-btn">Change
            <span class="pi pi-arrow-right"></span>
          </button>
          <a class="pointer" (click)="hideCheckForm = !hideCheckForm">Back</a>
        </div>
        </form>
      </ng-container>

    </div>
  </div>
</div>


